{% extends 'base.html' %}
{% load static %}
{% block title %}Add Salesperson{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'styles.css' %}">


<div class="wrapper">
    <h2>Add Salesperson</h2>
    <div class="container-sp">
        {% include 'messages.html' %}
        <form method="post" action="{% url 'add_salesperson' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="sales_id">Sales ID</label>
                <input type="text" id="sales_id" name="sales_id" required>
            </div>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="form-group input-submit">
                <input type="submit" value="Add Salesperson">
            </div>
        </form>
    </div>
</div>
{% endblock %}
