{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="sidebar">
        <h2>Dashboard</h2>
        <p>Welcome {{ username }}</p>
        <a href="{% url 'profile' %}"><i class="lni lni-user"></i> Profile</a>
        <a href="{% url 'book_ticket' %}"><i class="lni lni-ticket"></i> Book Tickets</a>
        <a href="{% url 'my_bookings' %}"><i class="lni lni-information"></i> My Bookings</a>
        <a href="{% url 'wallet_sp' %}"><i class="lni lni-rupee"></i> Wallet</a>
        <div class="logout-btn">
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit"><i class="lni lni-exit"></i>Logout</button>
            </form>
        </div>
    </div>

    <div class="content">
        {% block content %}

        {% endblock %}
    </div>
</body>
</html>
