
{% extends 'base.html' %}
{% load static %}
{% block title %}Manager Details{% endblock %}

{% block content %}
<style>

    .profile-section {
        margin-top: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 20px;
        background-color: #f9f9f9;
    }

    .profile-section label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .profile-section input[type="text"],
    .profile-section input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }

    .profile-section button {
        padding: 10px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-right: 10px;
    }

    .change-section {
        display: none;
    }
</style>

<div class="container">
    {% include 'messages.html' %}
    <h1>Manager Details</h1>
    <div class="manager-details">
        <p><strong>Username:</strong> {{ manager.username }}</p>
        <p><strong>Name:</strong> {{ manager.first_name }}</p>
    </div>

    
    <button class="toggle-btn" type="button" onclick="toggleSection('password-section')">Change Password</button>

    <div id="password-section" class="profile-section change-section">
        <h2>Update Password</h2>
        <form method="post">
            {% csrf_token %}
            <label for="password">New Password:</label>
            <input type="password" id="password" name="password">
            <label for="confirm_password">Confirm Password:</label>
            <input type="password" id="confirm_password" name="confirm_password">
            <button type="submit">Update</button>
        </form>
    </div>

    <button class="toggle-btn" type="button" onclick="toggleSection('name-section')">Change Name</button>

    <div id="name-section" class="profile-section change-section">
        <h2>Update Name</h2>
        <form method="post">
            {% csrf_token %}
            <label for="name">New Name:</label>
            <input type="text" id="name" name="name" value="{{ manager.first_name }}">
            <button type="submit">Update</button>
        </form>
    </div>
</div>

<script>
    function toggleSection(sectionId) {
        var section = document.getElementById(sectionId);
        section.classList.toggle('change-section');
    }
</script>


{% endblock %}
