
{% extends 'base.html' %}
{% load static %}
{% block title %}Balance Sheet{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'styles.css' %}">

<div class="container">
    {% include 'messages.html' %}
    <h1>Balance Sheet</h1>
    <div class="bs">
    <form method="post">
        {% csrf_token %}
        <label for="show" style="padding-right: 4px;">Select Show:</label>
        <select id="show" name="show" >
            <option value="" disabled selected>Select Show</option>
            {% for show in shows %}
                <option value="{{ show.show_id }}">{{ show.show_name }}</option>
            {% endfor %}
        </select>
        <br>
        <br>
        <button type="submit" style="padding-left: 35px; padding-right: 35px;">Show Balance Sheet</button>
    </form>
    </div>
    {% if balance_sheet %}
    <p style="text-align: center; font-weight: bold; color: #333;">Show : {{ curr_show.show_name }} ({{curr_show.show_id}})</p>
    <table>
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Type</th>
                    <th>Sales ID</th>
                </tr>
            </thead>
            <tbody>
                {% for item in balance_sheet %}
                    <tr>
                        <td>{{ item.date }}</td>
                        <td>{{ item.amount }}</td>
                        <td>{{ item.type }}</td>
                        <td>{{ item.sales_id }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr class="total">
                    <td>Amount Collected</td>
                    <td>{{ amount_collected }}</td>
                    <td></td>
                </tr>
                <tr class="total">
                    <td>Expenditure</td>
                    <td>{{ expenditure }}</td>
                    <td></td>
                </tr>
                <tr class="total">
                    <td>Net Amount</td>
                    <td>{{ net_amount }}</td>
                    <td></td>
                </tr>                
            </tfoot>
        </table>
    {% else %}
        <p>No data available.</p>
    {% endif %}
</div>
{% endblock %}
